body {
    height: 100px;
    width: 100%; 
    background-color: #ffffff;
    margin: 0;
}

main {
    margin-bottom: 70px;
}



.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 8px;
    font-weight: bold;
}

.login-form input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #45a049;
}

.cadastro-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cadastro-form {
    display: flex;
    flex-direction: column;
}

.cadastro-form label {
    margin-bottom: 8px;
    font-weight: bold;
}

.cadastro-form input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cadastro-form button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cadastro-form button:hover {
    background-color: #45a049;
    
}


.textoInicio{
    margin: 100px;
    background-position: center;
    list-style: none;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px

}

h1, h4{
    color: #0F3D19 ;
}

h2, h5{
    color:#64946D;
   
   }

header {
    background-color: #64946d19;
    box-shadow: 0px 3px 10px #64946D;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
  
   
}


.nav-list {
    display: flex;
    align-items: center;
    
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #007119;
    font-weight: 400;
    
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #64946D;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}
p {
    display: flex;
    margin: 20px;
}


li{
    margin: 40px;
    background-position: center;
    list-style: none;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
   
    a {
        color:#64946D;
        text-decoration: none;
        
    }
}
ul{
    background-position: center;
    list-style: none;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;  
}

.imagem{
    display: flex;
    height: 500px;
    width: 100%;
    object-fit:contain;
    margin: 0px;
}

img:hover {
    transition: transform .3s;
}

.subtitulo{
    height: 100px;
    width: 100%;
}


.conteudo{
    margin: 50px;
    background-position: center;
    list-style: none;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: justify;
}


.cardapio{
    width: 100%;
    text-align:center;
    margin: 20px;

}


 /* modal */

.modalBtn {
    height: 5vh;
    min-height: 30px;
    width: 15vh;
    min-width: 130px;

    border-radius: 5px;
    border: 0;
    outline: 0;

    background-color: #007119;
    font-size: 20px;
}

.text {
    margin-top: 0;
    font-size: 40px;
    margin: 20px;
   
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    overflow: auto;
    background-color: #64946dee;
 
}

.modal .content {
    background-color: #D3D3D3;
    margin: 15% auto; 
    padding: 20px;
    border-radius: 30px;
    width: 50%; 
    font-size: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'LexendDeca-Regular';
    color: var(--title);
    
}

.title {
    color: #18722b;
    margin-bottom: 5%;
}

#pedidos {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}


.tiluloPedido{
    width: 100%;
    text-align:center;
    font-size: 30px;
    color: #64946dee; 
   
}

.opcoes button {
    background-color: #64946dee; 
    color: #fff; 
    margin: 25px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.opcoes button:hover {
    background-color: #0F3D19 ; 
}

#categorias {
    display: flex;
    justify-content: center;
   
}

#categorias div {
    display: none;
   
}

#informacoes,
#total {
    width: 100%;
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #64946dee;

}

button#confirmar-pedido {
    background-color: #64946dee; 
    color: #fff;
    padding: 15px 30px;
    font-size: 16px;
    margin: 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 20px;
  
}

button#confirmar-pedido:hover {
    background-color: #27ae60;
 
}

footer{
    height:50px;
    width: 100%;
    text-align: center;
    background-color: #0F3D19 ;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
	color: #fff;
	margin-top: 80px;
}

@media screen and (max-width: 900px) {
    .nav-bar {
        padding: 1.5rem 4rem;
        justify-content: start;

    }
    .icon{
        width: 25px
    }
    .titulo-menu-mobile{
        font-size: 18px;
        font-family: 'Baskerville', 'serif';
        color: #007119;
    }
    .botao-menu-mobile {
        display: flex;
        align-items: center;
    }
    .nav-item {
        display: none;
        margin: 0 15px;

    }

    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
      
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}